<div data-control="toolbar">
    <a
        href="<?= Backend::url('developer/countries/countries/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= trans('developer.countries::lang.form.create') ?>
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="<?= trans('developer.countries::lang.form.delete_ask') ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        <?= trans('developer.countries::lang.form.delete') ?>
    </button>
</div>
