<?php Block::put('breadcrumb') ?>
    <ul>
        <li>
            <a href="<?= Backend::url('developer/countries/countries') ?>">
                <?= trans('developer.countries::lang.countries') ?>
            </a>
        </li>
        <li><?= trans('developer.countries::lang.form.preview') ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p>
        <a href="<?= Backend::url('developer/countries/countries') ?>" class="btn btn-default">
            <?= trans('developer.countries::lang.form.return_to_list') ?>
        </a>
    </p>

<?php endif ?>
