<?php Block::put('breadcrumb') ?>
    <ul>
        <li>
            <a href="<?= Backend::url('developer/countries/countries') ?>">
                <?= trans('developer.countries::lang.countries') ?>
            </a>
        </li>
        <li><?= trans('developer.countries::lang.form.editing') ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= trans('developer.countries::lang.form.saving') ?>..."
                    class="btn btn-primary">
                    <?= trans('developer.countries::lang.form.save') ?> (S)
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= trans('developer.countries::lang.form.saving') ?>..."
                    class="btn btn-default">
                    <?= trans('developer.countries::lang.form.save_and_close') ?>
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting Country..."
                    data-request-confirm="Delete this country?">
                </button>
                <span class="btn-text">
                    <?= trans('developer.countries::lang.form.or') ?>
                    <a href="<?= Backend::url('developer/countries/countries') ?>">
                        <?= trans('developer.countries::lang.form.cancel') ?>
                    </a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p>
        <a href="<?= Backend::url('developer/countries/countries') ?>" class="btn btn-default">
            <?= trans('developer.countries::lang.form.return_to_list') ?>
        </a>
    </p>

<?php endif ?>
