<form class="add-days" data-request="onAddDays" data-request-update="'{{ __SELF__ }}::days-data-ajax': '#days-data'" data-request-flash>

    <div id="add-days-container">
        <div>
            <div>Страна</div>
            <div>
                <select name="country">
                    {% for key, name in countries_list %}
                        <option value="{{ key }}"{% if key == 'RU' %} selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div>Количество дней</div>
            <div>
                <input name="days" value="365">
            </div>
        </div>

        <button id="btn_form_submit" type="submit">Добавить</button>
    </div>

    <div id="days-data"></div>
</form>
